body {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.header {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.links {
  font-size: 18px;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#hero-section {
  background-color: #1f2937;
  padding:  60px 0 100px 20px;
}

.title h1 {
  color: #f9faf8;
  width: 220px;
  margin-top: 0;
  margin-bottom: 5px;
}

.title {
 width: 400px;
}

.title p {
  color: #e5e7eb;
  margin-top: 5px;
}

.placeholder-img {
  background-color: gray;
  height: 190px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e5e7eb;
}

.title button {
  background-color: #3882f6;
  color: #fff;
  padding: 8px 25px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}
