body {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.header {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.links {
  font-size: 18px;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#hero-section {
  background-color: #1f2937;
  padding:  60px 0 100px 20px;
}

.title h1 {
  color: #f9faf8;
  width: 220px;
  margin-top: 0;
  margin-bottom: 5px;
}

.title {
 width: 400px;
}

.title p {
  color: #e5e7eb;
  margin-top: 5px;
}

.placeholder-img {
  background-color: gray;
  height: 190px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e5e7eb;
}

.title button {
  background-color: #3882f6;
  color: #fff;
  padding: 8px 25px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

#link-one {
  padding-bottom: 80px;
}

#link-one h1 {
  text-align: center;
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  margin-top: 40px;
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.cards {
  width: 160px;
}

.cards p {
  width: 150px;
  color: gray;
  text-align: center;
  margin: 0;
}

.box {
  border: 4px solid blue;
  width: 140px;
  height: 140px;
  border-radius: 20px;
  margin-bottom: 10px;
}

#link-two {
  background-color: #ebe7eb;
  padding: 80px;
}

.quote-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.quote {
  width: 795px;
}

.quote {
  font-size: 36px;
  font-weight: 300;
  text-wrap-style: pretty;
  font-style: italic;
  color: #1f2937;
  margin: 0;
}

.thor {
  font-size: 20px;
  font-weight: 600;
  margin-left: 80vh;
}

#link-three {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.call-to-action {
  background-color: #3882f6;
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
  border-radius: 8px; 
}

.left p {
  margin: 0;
}

.call {
  font-weight: 600;
  color: white;
}

.sign {
  color: #ebe7eb;
  
}

.btn-sign {
  background-color: #3882f6;
  border: 2px solid white;
  color: white;
  padding: 5px 25px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
}

footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.foot {
  color: white;
}
